*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
h4 { 
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}
h2{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}
.header__rrss {
    height: 20px;
    background-color: #0A1612;
    display: flex;
    justify-content: end;
}
.header__rrssDescription { 
    font-family: 'Exo', sans-serif;
    text-align: end;
    font-size: 14px;
    color: white;
    padding-right: 20px;
}
.header__rrssImages {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    width: 50px;
    justify-content: space-between; 
}
.header__rrssImages img {
    height: 18px;
}
.header__menu {
    background-color: #C5C1C0;
    height: 80px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__menuLogo img{
    width: 200px;
}
.header__menuItems{
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;
    list-style:none;
    width: 60%;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header__menuItems a{
    text-decoration: none;
    color: black;
    opacity: 0.6;
}
.header__menuItems a:hover {
    opacity: 1;
}
.header__menuItems li{
    display: flex;
    flex-direction: row;
}

.header__menuItems span{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.6s;
}
.header__menuItems span:hover{

    transform: rotate(90deg);
}

.header__menuItems span img{
    width: 32px;
}
.header__menuRegistration{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.header__menuRegistrationButton1{
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    text-align: center;
    background-color: #0A1612;
    border-radius: 16px 0px 0px 16px;
    width: 150px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    cursor: pointer;  
}
.header__menuRegistrationButton1:hover{
    background-color: #ffd200;
    color: #0A1612;
}
.header__menuRegistrationButton2{
    font-family: 'Exo', sans-serif;
    font-size: 12px;
    background-color: #0A1612;
    border-radius: 0px 16px 16px 0px;
    border-left: white solid 2px;
    width: 150px;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.6s;
    cursor: pointer;  
}
.header__menuRegistrationButton2:hover{
    background-color: #ffd200;
    color: #0A1612;
}
.header__menuHamburguesa{
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.header__menuHamburguesa span {
    display: block;
    width: 100%;
    height: 4px;
    margin-top: 10px;
    background-color: #0A1612;
    transform-origin: 0px 100%;
    transition: 0.6s;
}
.activeheader__menuHamburguesa-line1{
    transform: rotate(45deg) translate(-4px, 1px);

}
.activeheader__menuHamburguesa-line2{
    opacity: 0;
    margin-left: -50px;
}
.activeheader__menuHamburguesa-line3{
    transform: rotate(-45deg)translate(-6px,2px);
}
.header__menuItemsFlecha{
    display: none;
}
.activeheader__menuItemsFlecha{
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
    background-color: #C5C1C0;
    padding-left: 25%;
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
}
.activeheader__menuItemsFlecha a {
    text-decoration: none;
    color: black;
    padding-bottom: 12px;
    transition: .6s;
}
.activeheader__menuItemsFlecha a:hover {
    transform: translate(20px);
}

/* tamaño de pantalla grande*/
@media (max-width: 1200px){
    .header__menuItems{
        font-size: 24px;
    }
}
/* tamaño de pantalla mediana*/
@media (max-width: 1124px){
    .header__menuItems{
        font-size: 24px;
    }
}
@media (min-width: 992px){
    .header__menuHamburguesa{
        display: none;
    }
}
/* tamaño de pantalla chica*/
@media (max-width: 992px){
    .header__menuRegistration{
        display: none;
    }
    .header__menuItems{
        display: none;
    }
    .header__menuItems a{
        padding-top: 10px;
    }
    .header__menuItems span img{
        padding-top: 10px;
        padding-left: 10px;
    }
    .activeheader__menuRegistration{
        list-style: none;
        position: absolute;
        margin-top: 80px;
        justify-content: end;
        display: flex;
        flex-direction: column;
        padding: 0px;
    }
    .activeheader__menuItems{
        list-style: none;
        position: absolute;
        margin-top: 180px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .activeheader__menu {
        background-color: #C5C1C0;
        height: 300px;
        padding: 20px;
        display: flex;
        flex-direction: row;
    }
    .header__menuRegistrationButton1{
        border-radius: 16px 16px 0px 0px;
        border-left: none;
        border-bottom: white solid 2px;
        width: 240px;
    }
    .header__menuRegistrationButton2{
        border-radius: 0px 0px 16px 16px;
        border-left: none;
        width: 240px;
    }
    .header__menuItemsFlecha{
        display: none;
    }
    .activeheader__menuItemsFlecha{
        font-size: 20px;
        font-family: 'Exo 2', sans-serif;
        background-color: #C5C1C0;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        padding-bottom: 12px;
    }
}
/* tamaño de tablet vertical*/
@media (max-width: 576px){
    .header__menuLogo img{
        width: 140px;
    }
    .header__rrss {
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__rrssDescription { 
        display: none;
    }
    .header__rrssImages {
        width: 80px;
        padding: 0;
    }
    .header__rrssImages img {
        height: 24px;
        padding: 0;
    }
}
.main__container{
    display: flex;
    justify-content: center;

}
.main__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main h1 {
    font-family: 'Exo', sans-serif;
    font-size: 30px;
    margin: 20px;
    padding-left: 180px;
}
main h3 {
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    margin: 20px;
    padding-left: 180px;
}
.main__itemsSistems{
    width: 400px;
    height: 400px;
    border-radius: 14px;
    background-color: #C5C1C0;
    margin: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main__itemsSistems img{
    height:70%;
}
.main__itemsSistemsButton{
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    width: 70%;
    text-align: center;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: #0A1612;
    position: relative;
    font-weight: 1000;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden; 
}
.main__itemsSistemsButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #ffd200;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
}
.main__itemsSistemsButton:hover {
    color: #0A1612;
}
.main__itemsSistemsButton:hover::before {
    width: 100%;
}
.main__itemsSistemsButton h2{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}
.main__itemsSistemsInput {
    text-decoration: none;
    padding: 15px 25px;
    border: unset;
    width: 70%;
    text-align: center;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: #0A1612;
    position: relative;
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main__itemsSistemsInput h2{
    font-family: 'Exo', sans-serif;
    font-size: 16px;
}
.main__itemsSistemsInput input{
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
.main__dimensions img{
    height: 320px;
    padding-left: 320px;
}
.main__dimensionsItem{
    font-family: 'Exo', sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding-left: 180px;
}
.main__dimensionsItem label {
    background-color:#C5C1C0;
    border-radius: 16px 0px 0px 16px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #0A1612 solid 2px;
}
.main__dimensionsItem input {
    font-size: 24px;
    border-radius: 0px 16px 16px 0px;
    width: 340px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    border: #0A1612 solid 2px;
}
.main__dimensionsItem h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
.main__itemsHormigon{
    width: 300px;
    height: 300px;
    margin: 24px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.main__itemsHormigon img{
    height:180px;
}
.btn__submit{
    font-family: 'Exo', sans-serif;
    font-size: 40px;
    padding: 15px 25px;
    border: unset;
    width: 1000px;
    height: 80px;
    text-align: center;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: #0A1612;
    position: relative;
    font-weight: 1000;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: 0.6s;
    cursor: pointer;
}

.btn__submit:hover {
    color: #0A1612;
    background-color: #ffd200;
}
.resume{
    font-family: 'Exo', sans-serif;
    font-size: 26px;
    width: 1000px;
    margin-top: 40px;
    text-align: center;
    border-radius: 15px;
    color: #0A1612;
    z-index: 1;
    background: #C5C1C0;
    position: relative;
    font-weight: 1000;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.resume__resultado{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.resume h2 {
    font-size: 32px;
}
.resume__text{
    margin-top: 40px;
}
.resume__historial{
    border-left: #0A1612 solid;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.btn__submit2{
    font-family: 'Exo', sans-serif;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: unset;
    width: 200px;
    height: 40px;
    text-align: center;
    border-radius: 15px;
    color: white;
    z-index: 1;
    background: #0A1612;
    position: relative;
    font-weight: 1000;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: 0.6s;
    cursor: pointer;
}
.resume__text2{
    font-size: 14px;
}
.resume__text2 p{
    padding: 10px;
}
.resume__text3{
    font-size: 14px;
}
.resume__text3 p{
    padding: 10px;
}
.resume__textPrice{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    text-decoration: underline;
}
.select-css {
    font-size: 20px;
    background-color:#C5C1C0;
    border-radius: 16px 16px 16px 16px;
    width: 520px;
    height: 40px;
    font-family: 'Exo', sans-serif;
    padding-left: 20px;
}

select option{
font-size: 18px;
}
@media (max-width: 992px){
    .btn__submit{
        width: 600px;;
    }
    .resume{
        width: 600px;;
    }
    .resume__text{
        font-size: 20px;
    }
    .resume h2 {
        font-size: 24px;
    }
    .btn__submit2{
        font-size: 16px;
        width: 120px;
    }
}
/* tamaño de tablet horizontal*/
@media (max-width: 768px){
    .main__dimensions img{
        height: 200px;
        padding-left: 80px;
    }
    .main__items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .main__itemsSistems{
        width: 200px;
        height: 200px;
        margin: 10px;
    }
    main h1 {
        padding-left: 40px;
    }
    main h3 {
        padding-left: 40px;
    }
    .main__dimensionsItem{
        padding-left: 40px;
    }
    .main__itemsSistemsInput h2{
        font-family: 'Exo', sans-serif;
        font-size: 12px;
    }
    .btn__submit{
        width: 400px;;
    }
    .resume{
        width: 400px;
        flex-direction: column;
    }
    .main__dimensionsItem input {
        width: 180px;
    }
    .resume__resultado{
        width: 100%;
    }
    .resume__historial{
        border-left: none;
        border-top: #0A1612 solid;
        width: 100%;
    }
    .btn__submit2{
        width: 200px;
    }
    .resume__text2{
        font-size: 14px;
    }
    .resume__text3{
        font-size: 14px;
    }
    .resume__text3 p{
        padding: 44px;
    }
    .select-css {
        width: 360px;
    }
}
@media (max-width: 460px){
    .btn__submit{
        width: 300px;
        height: 40px;
    }
    .resume{
        width: 300px;;
    }
    .main__dimensionsItem{
        padding: 0px;
    }
    .main__dimensionsItem h4{
        font-size: 14px;
    }
    .main__dimensionsItem input {
        width: 120px;
        height: 24px;
        padding-left: 8px;
        font-size: 14px;
    }
    .btn__submit {
        font-size: 14px;
    }
    .main__dimensionsItem label {
        font-size: 14px;
        background-color:#C5C1C0;
        border-radius: 16px 0px 0px 16px;
        width: 150px;
        height: 24px;
    }
    .select-css {
        font-size: 14px;
        width: 290px;
        height: 28px;
    }
    
    select option{
    font-size: 14px;
    }
}
footer {
    height: 200px;
    background-color: #C5C1C0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 24px;   
}
.footer__information{
    font-family: 'Exo', sans-serif;
    font-size: 14px;
}
.footer__information h5{
    margin-top: 80px;
    font-family: 'Exo', sans-serif;
    font-size: 14px;
}
.footer__logo img{
    width: 200px;
}
.footer__contact{
    font-family: 'Exo', sans-serif;
    font-size: 16x;
    text-align: center;
}
.footer__contact h5{
    font-family: 'Exo', sans-serif;
    font-size: 18px;
    color: white;
    margin-top: 20px;
}

@media (max-width: 576px){
    .footer__logo img{
        display: none;
    }
    .footer__information h4{
        font-size: 14px;
    }
    .footer__information h5{
        margin-top: 40px;
        font-size: 12px;
    }
    .footer__contact h4{
        font-size: 14px;
    }
    .footer__contact h5{
        font-size: 14px;
    }
}